* {
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.app {
  width: 37.5rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.05;
  text-align: left;
}

h2 {
  font-size: 3.5rem;
  line-height: 1.05;
  text-align: center;
}

h3 {
  margin: 0.625rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.2;
}

.question-title {
  width: 37.5rem;
  height: 13.125rem;
  background-color: rgb(35, 13, 116);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(183, 173, 222);
}

.questions-container {
  margin: 1rem 0 1.438rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.question-block {
  width: 17.875rem;
  height: auto;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 0.063rem;
  text-align: center;
  margin-bottom: 0.938rem;
  padding: 0;
  overflow: hidden;
  border: none;
}

.question-block p {
  font-size: 0.688rem;
  font-style: italic;
}

.question-block a {
  color: rgb(113, 113, 113);
  text-decoration: none;
}

.answer-block {
  width: 37.5rem;
  background-color: aqua;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.answer-block img {
  width: 90%;
}
